{% extends "::base.html.twig" %}

{% block title %}AcmeDemoBundle:Author:create{% endblock %}

{% block body %}
<h1>Welcome to the Author:create page</h1>
{{ form_start(form, {'attr': {'id':'author-create'}}) }}
    {{ form_errors(form) }}
    <ul>
        <li>
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }}
        </li>
        <li>
                {{ form_label(form.surname) }}
                {{ form_errors(form.surname) }}
                {{ form_widget(form.surname) }}
        </li>
        <li>
            <input type="submit" value="Add Author"> 
        </li>
    </ul>
{{ form_end(form) }}
{% endblock %}
